body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.logo {
    display: block;
    margin: 0 auto 20px; /* Adjust margin as needed */
    max-width: 150px; /* Adjust max-width as needed */
    border-radius: 50%;

}

header {
    background-color: orange;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 15px;
}

.method-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.method-box {
    border: 2px solid #ff8c00;
    border-radius: 10px;
    padding: 20px;
    background-color: #222;
    text-decoration: none;
}

.method-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: orange;
}

.method-box p ,pre {
    font-size: 1.5em;
    color: aliceblue;

}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 1.6em;
    }

    p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.6em;
    }

    .method-box {
        padding: 15px;
    }

    .method-box h2 {
        font-size: 1.2em;
        margin-bottom: 8px;
    }

    .method-box p {
        font-size: 0.9em;
    }
}
